<form method="post" action="{{ path('app_rh_delete', {'user': rh.user}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ rh.user) }}">
    <button class="btn">Delete</button>
</form>
