{% extends 'base.html.twig' %}

{% block title %}Rh{% endblock %}

{% block body %}
    <h1>Rh</h1>

    <table class="table">
        <tbody>
        </tbody>
    </table>

    <a href="{{ path('app_rh_index') }}">back to list</a>

    <a href="{{ path('app_rh_edit', {'user': rh.user}) }}">edit</a>

    {{ include('rh/_delete_form.html.twig') }}
{% endblock %}
